/*************************************** IMPORTS ***************************************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
.preloader, .message-area, .line-through, .table-column, body {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.line-through span, .temperature, .header, .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: unset;
  -webkit-transform: unset;
          transform: unset;
  width: 100%;
  height: 100%;
  background-color: #8456f1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 99;
}

.preloader span {
  width: 5rem;
  height: 5rem;
  border: 0.5rem solid #fff;
  border-right-color: #8456f1;
  border-radius: 50%;
  -webkit-animation: loading 0.5s linear 0s infinite;
          animation: loading 0.5s linear 0s infinite;
}

.preloader.hide {
  opacity: 0;
  visibility: hidden;
  z-index: -99;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.intro.show-result {
  opacity: 0;
  visibility: hidden;
}

.intro.show-result ~ .search-result {
  opacity: 1;
  visibility: visible;
}

.message-area {
  height: 4rem;
  margin: 2rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #ebeb24;
  text-align: center;
}

.message-area span {
  color: #6132cf;
  font-weight: 500;
}

.message-area.alert {
  background-color: #fa8383;
}

.line-through {
  height: 4rem;
}

.line-through span {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  font-size: 1rem;
}

.line-through span::before {
  content: 'or';
  padding: 0 1rem;
  background-color: #fff;
  color: #ccc;
}

.search-form {
  position: relative;
}

.search-form input {
  width: 100%;
  height: 2.5rem;
  padding: 0 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  color: #131212;
  font-size: 1rem;
}

.search-form input::-webkit-input-placeholder {
  color: #ccc;
}

.search-form input:-ms-input-placeholder {
  color: #ccc;
}

.search-form input::-ms-input-placeholder {
  color: #ccc;
}

.search-form input::placeholder {
  color: #ccc;
}

.search-form input:focus {
  outline: none;
  padding: 0 calc(2rem - 1px);
  border: 2px solid #8456f1;
}

.search-form input:focus ~ .submit-btn {
  color: #8456f1;
}

.search-form input:valid ~ .clear-btn {
  display: block;
}

.search-form button {
  border: none;
  background-color: inherit;
  line-height: 1;
}

.search-form .submit-btn {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  right: unset;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ccc;
}

.search-form .clear-btn {
  position: absolute;
  top: 50%;
  left: unset;
  right: 0.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
  color: #eb1c1c;
}

.search-result {
  position: fixed;
  top: 50%;
  left: 50%;
  right: unset;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.date {
  margin-top: 1rem;
  font-style: italic;
  letter-spacing: 0.1rem;
}

.temperature h2 {
  font-size: 2.5rem;
}

.feelings {
  letter-spacing: 0.1rem;
}

.feelings .feels-like {
  color: #eb1c1c;
  font-weight: 500;
}

.table {
  margin: 2rem 0;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.table span {
  color: #eb1c1c;
}

.table i {
  color: #6132cf;
  font-size: 1.4rem;
}

.table-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid #ccc;
}

.table-row:last-child {
  border-bottom: none;
}

.table-column {
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  padding: 1rem 0.5rem;
}

.table-column:first-child {
  border-right: 1px solid #ccc;
}

@media screen and (max-width: 400px) {
  .table {
    font-size: 0.9rem;
  }
  .table i {
    font-size: 1.2rem;
  }
  .table-column {
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
  }
}

@media screen and (max-width: 350px) {
  .table {
    font-size: 0.85rem;
  }
  .table i {
    font-size: 1.1rem;
  }
}

/*************************************** GLOBAL STYLES ***************************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*::-moz-selection {
  background-color: #6132cf;
  color: #fff;
}

*::selection {
  background-color: #6132cf;
  color: #fff;
}

body {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#8456f1), to(#6132cf));
  background: linear-gradient(#8456f1, #6132cf);
  color: #131212;
}

h1, h2 {
  line-height: 1.25;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 2rem;
}

p {
  line-height: 1.5;
}

button {
  cursor: pointer;
}

i {
  font-size: 1.2rem;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 0.95rem;
  }
  h1 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 350px) {
  body {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 1.6rem;
  }
}

/*************************************** COMMON CLASSES ***************************************/
.wrapper {
  max-width: 450px;
  max-height: 95vh;
  width: 90vw;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  overflow-y: auto;
  background-color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
}

.header {
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.header img {
  width: 3.5rem;
}

.header i {
  margin-right: 0.5rem;
  color: #6132cf;
  font-size: 1.4rem;
}

.btn {
  width: 100%;
  height: 2.5rem;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#8456f1), to(#6132cf));
  background: linear-gradient(#8456f1, #6132cf);
  color: #fff;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.btn.orange {
  background: -webkit-gradient(linear, left top, left bottom, from(#f5a513), to(#eb8e1c));
  background: linear-gradient(#f5a513, #eb8e1c);
}

.btn:hover {
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

@media screen and (max-width: 350px) {
  .wrapper {
    width: 95vw;
  }
}
